body {
    text-align: center;
    padding: 2%;
    background-color: black;
}
::-webkit-scrollbar {
    display: none;
}

.button {
    font-size: 45px;
}

@media screen and (max-width: 600px) {
    .button {
        font-size: 25px;
    }
}